<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
          }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>
{{range .}}
<p><a href="/portfolio/show?BinanceTicker={{.BinanceTicker}}">{{.BinanceTicker}}</a> - {{.Name}} - {{.Amount}} - <a href="/portfolio/update?BinanceTicker={{.BinanceTicker}}">update</a>  - <a href="/portfolio/delete/process?BinanceTicker={{.BinanceTicker}}">delete</a> </p>
{{end}}

<p class="link"><a href="/portfolio/create">Add A Holding</a></p>
</body>
</html>