<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Name}} Holdings</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
        }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>

<h2>{{.Ticker}}</a> - {{.Name}} - {{.Amount}} - {{.CurrentPrice}} - {{.Value}}</h2>
<p class="link"><a href="/portfolio">All Holdings</a></p>

</body>
</html>