<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Title>Create Book</Title>
    <style>
        html, body {
            padding: 0;
            border: 0;
            margin: 0;
        }

        body, form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        input {
            width: 60vw;
            font-size: 5rem;
            color: blue;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>Update A Holding</h1>
<form method="post" action="/portfolio/update/process">
    <input type="text" name="Ticker" placeholder="Ticker" required autofocus value="{{.Ticker}}">
    <input type="text" name="Name" placeholder="Name" required value="{{.Name}}">
    <input type="text" name="Amount" placeholder="Amount" required value="{{.Amount}}">
    <input type="submit">
</form>

</body>
</html>